*{
    margin: 0;
    padding: 0;


}


.outer_div{
    position: relative;
    top: 0;
}

.div_nav{
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 100%;
    
}
div ul{

  background-color: #3F424A;
 margin: 0;
 padding: 0;
  overflow: hidden;
  width: 100%;
  /* height: 20px; */

}
ul li{
    float: left;
    /* background-color: 3F424A; */
    display: block;
    
   

}
li a{
    display: block;
    padding: 14px 30px;
    margin: 0;
    color: white;

    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    opacity: 90%;
    font-size: 24px;
}
li a:hover{
    background-color: rgb(15, 14, 14);
    
}
li a:active{
    background-color:  FB6549;
}
li a :visited{
    background-color:  FB6549;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 30px;
    margin: 0;
    
}
 .profile{
    width: 40px;
    height: 40px;
    /* padding : 6px; */
    margin-right: 10px;
    margin-top: 5px;
    
} 
.signup{
    margin-top: 0px;
    padding: 0%;
    margin-bottom:0;
    margin-left: 4px;
    color: white;
    /* font-weight: bold; */
    font-size: 12px;
}


.title_reg{
    position: absolute;
    top: 70px;
    left: 5%;
    right: 5%;
    width: 90%;
}
.title_reg h2{
    text-align: center;
    color: rgb(243, 35, 35);
    text-decoration: underline;
    
}

.registration_div{
    position: relative;
    top: 120px;
    left: 5%;
    right:2%;
    width: 93%;
    height: 200px;
    

}
.registration_div h3{
    text-align: center;
    color: green;

}
.registration_div h5{
    position: absolute;
    top: 400px;
    left: 5%;
    color:red ;
    font-weight: bold;
    font-size: 16px;
}
.registration_div div input{
    width: 240%;
    height: 30px;
    background-color: #3F424A;
    padding-left: 5px;
}
.registration_div div p{
    font-size: 16px;
    color: #3F424A;
    padding-left: 5px;
    font-weight: bold;
}

.registration_div div p a{
    color: red;
    text-decoration: none;
    font-size: 16px;
}
.username_div{

    position: absolute;
    top: 20px;
    left: 5%;

}




.fullname{
    position: absolute;
    top: 20px;
    left: 50%;
    width: auto;
    
    
}


.email_div{
    position: absolute;
    top: 100px;
    left: 5%;
    /* width: 100%; */
    
}

.password_div{
    position: absolute;
    top: 100px;
    left: 50%;
    /* width: 100%; */
}


.birth_div{
    position: absolute;
    top: 180px;
    left: 5%;
    /* width: 100%; */
}

.gender_div{
    position: absolute;
    top: 180px;
    left: 50%;
    

}

.location_div{
    position: absolute;
    top: 260px;
    left: 5%;
    width: 33.3%;

}
.submit_div{

    position: absolute;
    top: 340px;
    left: 5%;
    width: 82%;
    
}
.submit_div button{
    width: 100%;
    height: 40px;
    background-color: #3F424A;
    padding-left: 5px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
}

.footer{
    position: fixed;
    bottom: 0;
    background-color: #3F424A;
    width: 100%;
    height: 40px;
}
