body{
    margin: 0;
}

.div_nav{
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    
}
div ul{

  background-color: #3F424A;
 margin: 0;
 padding: 0;
  overflow: hidden;
  width: 100%;
  /* height: 20px; */

}
ul li{
    float: left;
    /* background-color: 3F424A; */
    display: block;
    
   

}
li a{
    display: block;
    padding: 14px 30px;
    margin: 0;
    color: white;

    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    opacity: 90%;
    font-size: 24px;
}
li a:hover{
    background-color: rgb(15, 14, 14);
    
}
li a:active{
    background-color:  FB6549;
}
li a :visited{
    background-color:  FB6549;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 30px;
    margin: 0;
    
}
 .profile{
    width: 40px;
    height: 40px;
    /* padding : 6px; */
    margin-right: 10px;
    margin-top: 5px;
    
} 

li
.signup{
    margin-top: 0px;
    padding: 0%;
    margin-bottom:0;
    margin-left: 4px;
    color: white;
    /* font-weight: bold; */
    font-size: 12px;
}

.title{
    width: 100%;
    position: relative;
    top: 30px;
    background-color: black;
    
}
.title h3{
    position: absolute;
    top: 20px;
    left: 45%;
    text-align: center;
    display: flex;
    color: rgb(240, 7, 46);
}

.title_line{
    width: 90%;
    position: absolute;
    top: 50px;
    left: 5%;
    
}


.main_div{
  display: flex;
  position: relative;
  top: 10px;
  left: 5%;
  right: 5%;
  width: 90%;
  

}

.comment_div{
    position: absolute;
    top:100px;
    width: 50%;
    
    
    
}
.comment_div .comment_input input{
    position: relative;
    width: 100%;
    height: 100px;
    background-color: #3F424A;
    padding-left: 5px;
}

.comment_div div p a{
    color: red;
    text-decoration: none;
    font-size: 16px;
  }
.comment_div div p{
  font-size: 14px;
  color: #3F424A;
  padding-left: 5px;
  font-weight: bold;
}

.username_div input{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #3F424A;
    padding-left: 5px;
}


.submit_div button{
    position: relative;
    top: 40px;
    width: 100%;
    height: 40px;
    background-color: #3F424A;
    padding-left: 5px;
    color: white;
    border-radius: 30px;
    font-weight: bold;
  }


  .vetical_line{
    position: relative;
    top: 100px;;
    left: 55%;
    
    
  
  }

  .vetical_line hr{
    position: relative;
    top: 30px;
    height: 300px;
    padding-top: 5px;

  }

  .div_right{
    
    position: relative;
    top: 100px;
    left: 56%;
  
  }
   .message{
    padding-top: 20px;
    padding-left: 20px;
   }
  .div_right h4{
    color: #3F424A;
    font-size: 16px;
  }

  .email_div{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    color: #3F424A;
    font-weight: bold;
    

  }
  .email_div img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
  }
  .phone_div{
    display: flex;
    padding-top: 20px;
    padding-left: 20px;
    color: #3F424A;
    font-weight: bold;
    

  }
  .phone_div img{
    width: 40px;
    height: 40px;
    padding-right: 20px;
  }




















  .footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    background-color:#3F424A;
    width: 100%;
    height: 80px;
  }
  .social__media {
    display: flex;
    position: absolute;
    left: 60%;
    align-items: center;
    padding: 0 40px;
    width: 30%;
    padding-top: 10px;
    color: white;
  }
  .contact__us {
    display: flex;
    position: absolute;
    top: 0px;
    padding-top: 0px;
    padding-left: 50px;
    /* border: solid; */
   
  }
  .contact__us h4 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
  }
  .contact__us h4 img{
    margin: 0px;
    width: 30px;
    padding-left: 20px;
  }
  .social__media img {
    width: 30px;
    padding-left: 20px;
  
  }