
body{
    margin: 0;
}

.div_nav{
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    
}
div ul{

  background-color: #3F424A;
 margin: 0;
 padding: 0;
  overflow: hidden;
  width: 100%;
  /* height: 20px; */

}
ul li{
    float: left;
    /* background-color: 3F424A; */
    display: block;
    
   

}
li a{
    display: block;
    padding: 14px 30px;
    margin: 0;
    color: white;

    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    opacity: 90%;
    font-size: 24px;
}
li a:hover{
    background-color: rgb(15, 14, 14);
    
}
li a:active{
    background-color:  FB6549;
}
li a :visited{
    background-color:  FB6549;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 30px;
    margin: 0;
    
}
 .profile{
    width: 40px;
    height: 40px;
    /* padding : 6px; */
    margin-right: 10px;
    margin-top: 5px;
    
} 

.title{
    width: 100%;
    position: relative;
    top: 25px;
    background-color: black;
}
.title h3{
    
    position: absolute;
    top: 16px;
    left: 45%;
    text-align: center;
}
li
.signup{
    margin-top: 0px;
    padding: 0%;
    margin-bottom:0;
    margin-left: 4px;
    color: white;
    /* font-weight: bold; */
    font-size: 12px;
}

.title_line{
    width: 90%;
    position: absolute;
    top: 46px;
    left: 5%;
    
}
.intro_video{
    width:30%;
    
    position: absolute;
    top: 10px;
    left: 20px;
    height:200px;
    

}

.intro_div{
    /* flex-direction: row; */
    position: relative;
    top: 90px;
    z-index: -1;
    background-color: black;
}

.intro_title{
    text-align: center;
    position: relative;

    left: 5%;
}

.title_div{
    width: 40%;
    position: absolute;
    left: 45%;
    
}

.article{
    position: relative;
    left: 8%;
    right: inherit;
   
    

}
.how_works{
    width: 96%;
    position: relative;
    top: 360px;
    left: 2%;
    right: 2%;
    /* background-color: #3F424A; */
}
.how_line {
    width: 96%;
}

.content h4{
    position: absolute;
    left: 5%;
}

.content article{
    position: absolute;
    top: 60px;
}

.how_works img{
    position: absolute;
    left: 54%;
    top: 30px;
    width:35%;
    height:200px;
}
.save_{
    /* position: absolute; 
    top: 280px;
    left: 20%;
    text-align: center;
    color: green;
    text-decoration: underline ; */
    position: relative;
    top: 20%; 
    left: 40px;
    

}

.buttons {
position: relative;
top: 700px;
left: 5%;
bottom: 50px;
}
.button_reg{
    position: absolute;
    left: 4%;
    bottom: 40px;
    width: 160px;
    height: 30px;
    background-color: #F03A5A;
    border-radius: 16px;
    border: 1px solid #F03A5A;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
}

.button_login{
    position: absolute;
    left: 66%;
    bottom: 40px;
    width: 160px;
    height: 30px;
    background-color: #F03A5A;
    border-radius: 16px;
    border: 1px solid #F03A5A;
    color: white;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    
}



/* .footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    height: 50px;
    background-color: #3F424A;
}
.email{
    position: relative;
    top: 1%;
    left: 3%;
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.linkedin{
    position: absolute;
    right: 10px;
    top: 2px;
    color: white;
    text-decoration: none;
    font-weight: bold;
} */



.footer {
    position: relative;
    top: 700px;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    background-color:#3F424A;
    width: 100%;
    height: 80px;
  }
  .social__media {
    display: flex;
    position: absolute;
    left: 60%;
    align-items: center;
    padding: 0 40px;
    width: 30%;
    padding-top: 10px;
    color: white;
  }
  .contact__us {
    display: flex;
    position: absolute;
    top: 0px;
    padding-top: 0px;
    padding-left: 50px;
    /* border: solid; */
   
  }
  .contact__us h4 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
  }
  .contact__us h4 img{
    margin: 0px;
    width: 30px;
    padding-left: 20px;
  }
  .social__media img {
    width: 30px;
    padding-left: 20px;
  
  }
@media only screen and (min-width: 700px){

    .intro_video{
        width: 40%;
    margin: 0;}
    .title_div{
         position: absolute; 
        top: 50%;
        /* background-color: #3F424A; */
        width: 20%;
        width: auto;
    }
    .article{
        position: relative;
        /* top: 30%; */
        left: 10%;
       
        
    }
    /* .content{
        position: absolute;
    top: 65%;
    } */


    .content article{
        margin-left: 3%;
        margin-right: 1%;
        
    }
    
}