
body{
    margin: 0;
    padding: 0;
}

.outer_div{
    position: relative;
    top: 0;
}
.div_nav{
    position: fixed;
    top: 0px;
    z-index: 2;
    width: 100%;
    
}
div ul{

  background-color: #3F424A;
 margin: 0;
 padding: 0;
  overflow: hidden;
  width: 100%;
  /* height: 20px; */

}
ul li{
    float: left;
    /* background-color: 3F424A; */
    display: block;
    
   

}
li a{
    display: block;
    padding: 14px 30px;
    margin: 0;
    color: white;

    height: fit-content;
    text-decoration: none;
    font-weight: bold;
    opacity: 90%;
    font-size: 24px;
}
li a:hover{
    background-color: rgb(15, 14, 14);
    
}
li a:active{
    background-color:  FB6549;
}
li a :visited{
    background-color:  FB6549;
}

.logo{
    width: 40px;
    height: 40px;
    padding: 6px;
    border-radius: 30px;
    margin: 0;
    
}
 .profile{
    width: 40px;
    height: 40px;
    /* padding : 6px; */
    margin-right: 10px;
    margin-top: 5px;
    
} 

.title{
    width: 100%;
    position: relative;
    top: 25px;
    background-color: black;
}
.title h3{
    
    position: absolute;
    top: 16px;
    left: 45%;
    text-align: center;
}
li
.signup{
    margin-top: 0px;
    padding: 0%;
    margin-bottom:0;
    margin-left: 4px;
    color: white;
    /* font-weight: bold; */
    font-size: 12px;
}



.title_reg{
  position: absolute;
  top: 50px;
  left: 10%;
  /* right: 5%; */
  width: 90%;
}
.title_reg h2{
  text-align: center;
  color: rgb(243, 35, 35);
  text-decoration: underline;
  
}



.registration_div{
  position: relative;
  top: 100px;
  left: 6%;
  right:2%;
  width: 92%;
  height: 200px;
  

}
.registration_div h3{
  text-align: center;
  color: green;

}
.registration_div h5{
  position: absolute;
  top: 360px;
  left: 5%;
  color:red ;
  font-weight: bold;
  font-size: 16px;
}
.registration_div div input{
  width: 240%;
  height: 36px;
  background-color: #3F424A;
  padding-left: 5px;
}
.registration_div div p{
  font-size: 14px;
  color: #3F424A;
  padding-left: 5px;
  font-weight: bold;
}

.registration_div div p a{
  color: red;
  text-decoration: none;
  font-size: 16px;
}
.username_div{

  position: absolute;
  top: 10px;
  left: 5%;

}




.equb_id{
  position: absolute;
  top: 10px;
  left: 50%;
  width: auto;
  
  
}


.email_div{
  position: absolute;
  top: 90px;
  left: 5%;
  width: 33.8%;
  
}



.birth_div{
  position: absolute;
  top: 170px;
  left: 5%;
  /* width: 100%; */
}

.gender_div{
  position: absolute;
  top: 170px;
  left: 50%;
  

}

.amount_div{
  position: absolute;
  top: 240px;
  left: 5%;
  width: 33.8%;

}
.submit_div{

  position: absolute;
  top: 340px;
  left: 5%;
  width: 82%;
  
}
.submit_div button{
  width: 100%;
  height: 40px;
  background-color: #3F424A;
  padding-left: 5px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
}
























.footer {
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    background-color:#3F424A;
    width: 100%;
    height: 80px;
  }
  .social__media {
    display: flex;
    position: absolute;
    left: 60%;
    align-items: center;
    padding: 0 40px;
    width: 30%;
    padding-top: 10px;
    color: white;
  }
  .contact__us {
    display: flex;
    position: absolute;
    top: 0px;
    padding-top: 0px;
    padding-left: 50px;
    /* border: solid; */
   
  }
  .contact__us h4 a{
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-left: 5px;
  }
  .contact__us h4 img{
    margin: 0px;
    width: 30px;
    padding-left: 20px;
  }
  .social__media img {
    width: 30px;
    padding-left: 20px;
  
  }